# Ignore venv completely
venv/

# Ignore contents of conversion folders, but keep the folders
Files2Convert/*
ConvertedDXF2SHP/*
ConvertedSHP2DXF/*

# Allow placeholder files so the folders persist
!Files2Convert/.gitkeep
!ConvertedDXF2SHP/.gitkeep
!ConvertedSHP2DXF/.gitkeep
